/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

  .one {  
  color:limegreen;
  font-size:22px;
  }
  .two {
  color:red;
  font-size:12px;
  }
  #three {  
  color:limegreen;
  font-size:22px;
  }
  #smallSpace {
  color:red;
  font-size:5px;
  }
  #bold{
  strong;
  color: magenta;
  font-face: "Comic Sans MS";
  font-size: 78px;
  } 
  img{
  width: 20%;
  height: 20%;
}